<div class="container center">
  <h5 class="purple-text">Empresa ciclo 4</h5>
  <br>
<div class="z-depth-1 grey lighten-5 row login">

  <form class="col s12" [formGroup]="validacion" (ngSubmit)="login()">

    <div class='row'>
      <div class='input-field col s12'>
        <input formControlName="user" class='validate' type='email' name='usuario' id='usuario' />
        <label for='email'>Ingrese su email</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        <input formControlName="password" class='validate' type='password' name='password'
          id='password' />
        <label for='password'>Ingrese su clave</label>
      </div>
      <label style='float: right;'>
        <a class='blue-text' href='#!'><b>Forgot Password?</b></a>
      </label>
    </div>

    <br />
    <div class='row'>
      <button  [disabled]="!validacion.valid" type="submit" name='btn_login' class='col s12 btn btn-large
        waves-effect grey'>Login</button>
    </div>
  </form>
</div>

</div>
